body {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    text-align: center;
    font-weight: normal;
}

h2 {
    text-align: center;
    font-weight: normal;
    text-decoration: underline;
}

ul {
    text-align: center;
    max-width: 600px;
    margin: auto;
    list-style-type: none;
    padding-left: 0;
}

#explanation {
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
    overflow: auto;
}

#visualizer-container {
    width: 60%;
    height: 100%;
    position: relative;
    float: right;
}

#visualizer {
    outline: none;
    width: 99%;
    height: 100%;
    margin-right: 1px;
}

#rotationNotes {
    display: none;
}

#crossSectionNotes {
    display: none;
}

#rotationNotes ul {
    text-align: left;
    padding-left: 50;
}

#crossSectionNotes ul {
    text-align: left;
    padding-left: 50;
}

.dg.main {
    position: absolute;
    top: 0;
    right: 0;
}

button {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

button:hover {
    background: #eee;
}

button:active {
    background-color: #e0e0e0
}

@media only screen and (max-width: 600px) {
    #visualizer-container {
        width: 100%;
    }
    #explanation {
        width: 100%;
        float: none;
        text-align: center;
    }
}
